<img src="<%= pokemon.escape("image_url")%>" />

<h3>Name: <%= pokemon.escape("name") %></h3>
<p>
  Attack: <%= pokemon.escape("attack")%> <br>
  Defense: <%= pokemon.escape("defense")%> <br>
  Type: <%= pokemon.escape("poke_type")%> <br>
  Moves: <%= pokemon.escape("moves")%>
</p>

<br>
<h4>Toys</h4>
<ul class="toys">

</ul>
