<h3> <%=@post.title%> </h3>

<p>
  <%= @post.content %>
</p>

<p>
  Comments:
</p>

<form action="<%= comments_url%>" method="post">
  <%= auth_token %>

  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <input type="hidden" name="comment[commentable_id]" value="<%= @post.id %>">
  <input type="hidden" name="comment[commentable_type]" value="Post">

  <label for="comment_content">Your thoughts</label>
  <br>
  <textarea name="comment[content]"></textarea>
    <br>
  <input type="submit" value="Comment!">
</form>
<br>

<% @comments.each do |comment| %>
  <%= render 'child', child: comment %>
<% end %>

<p>
  <% if current_user == @post.author %>
    <%= (link_to "Edit", edit_post_url(@post))  %>
    <br>
    <%= button_to "Delete", post_url(@post) ,method: :delete%>
    <br>
  <% end %>

  <%= link_to "Back", subs_url %>
</p>
